body
{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 2.049/1;
}
.header_wrapper
{
    display: flex;
    width: 1366px;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.40);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.header_wrapper span
{
    margin-left: 79px;
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
    opacity: 1;
}
.header_wrapper-right
{
    display: flex;
    margin-right: 79px;
    align-items: center;

}
.header_wrapper-form
{
    display: flex;
    width: 126px;
    height: 24px;
    align-items: end;
    justify-content: center;
    opacity: 1;
}
.header_wrapper-right a
{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #FFF;
    margin-left: 4px;
    opacity: 1;
}
.header_wrapper-right p
{

    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #FFF;
    opacity: 1;
}


.header_wrapper-right-p1
{
    position: relative;
    display: block;
    margin-left: 48px;

}
.header_wrapper-right-p1::before
{
    position: absolute;
    content: " ";
    background: rgba(255, 255, 255, 0.90);
    width: 1px;
    height: 19px;
    left: -27px;
    top: -3px;
    opacity: 0.5;
}
.header_wrapper-right-p2
{
    margin-left: 4px;
}
.header_wrapper-form-button1
{
    width: 21px;
    height: 24px;
    background-image: url("../images/calendar-alt-regular 2.svg");
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.40);
    border: none;
}
.header_wrapper-form-button2
{
    width: 23px;
    height: 23px;
    background-image: url("../images/envelope-open-regular 1.svg");
    background-size: 100% 100%;
    margin-left: 27px;
    background-color: rgba(0, 0, 0, 0.40);
    border: none;
}
.header_wrapper-form-button3
{
    width: 23px;
    height: 24px;
    background-image: url("../images/compass-regular 1.svg");
    background-size: 100% 100%;
    margin-left: 24px;
    background-color: rgba(0, 0, 0, 0.40);
    border: none;
}
.main_box
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 444px;
    height: 584px;
    background-color: #FFF;
    margin: 54px auto;
}
.main_box-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    height: 20px;
    margin: 29px auto 13px;

}
.main_box-menu a
{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #3CB878;
}
.main_box-menu a:hover
{
    color: #01813F;
    text-decoration: underline;
    text-decoration-color: #01813F;
}

.main_box-menu span
{
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    color: #434343;


}
.main_box-decoration
{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
}
.main_box-network
{
    display: flex;
    width: 324px;
    height: 48px;
    margin: 0 auto;
    justify-content: space-between;

}
.main_box-network-F
{
    display: block;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    position: relative;
}
.main_box-network-F span
{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../images/F.svg");
    background-size: 100% 100%;
    background-color: #305DB8;
    margin-left: 10px;
    margin-right: 32px;
}
.main_box-network-F span::after
{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    left: 47px;
    bottom: 21%;
    opacity: 0.1;
}
.main_box-network-F:hover
{
    background-color: #022263;
}
.main_box-network-F a
{
    display: flex;
    width: 160px;
    height: 48px;
    align-items: center;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: #FFF;
}
.main_box-network-G
{
    display: block;
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    position: relative;
}
.main_box-network-G span
{
    width: 30px;
    height: 19px;
    background-image: url("../images/G+.svg");
    background-size: 100% 100%;
    margin-left: 10px;
    margin-right: 38px;
}
.main_box-network-G span::after
{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    left: 47px;
    bottom: 21%;
    opacity: 0.1;

}
.main_box-network-G:hover
{
    background-color: #AB1F09;
}
.main_box-network-G a
{
    display: flex;
    width: 160px;
    height: 48px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: #FFF;
    align-items: center;
    text-decoration: none;
}
.main_box p
{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #848484;
    margin-top: 30px;
    margin-bottom: 12px;
}
.form1
{
    display: block;
    width: 324px;
    min-height: 44px;
    margin: 0 auto 16px;
}
.input1
{
    width: 324px;
    min-height: 44px;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    padding-left: 19px;
}
.input1::placeholder
{
    color: #434343;
}
.form2
{
    display: block;
    width: 324px;
    min-height: 44px;
    margin: 0 auto 15px;
}
.input2
{
    width: 324px;
    min-height: 44px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    padding-left: 19px;
}
.input2::placeholder
{
    color: #BEBEBE;
}
.form3
{
    display: block;
    width: 324px;
    min-height: 44px;
    margin: 0 auto 15px;
}
.input3
{
    width: 324px;
    min-height: 44px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    padding-left: 19px;
}
.input3::placeholder
{
    color: #BEBEBE;
}
.form4
{
    display: block;
    width: 324px;
    min-height: 44px;
    margin: 0 auto 15px;
}
.input4
{
    width: 324px;
    min-height: 44px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    padding-left: 19px;
}
.input4::placeholder
{
    color: #BEBEBE;
}
.form5
{
    display: block;
    width: 324px;
    min-height: 44px;
    margin: 0 auto 12px;
}
.input5
{
    width: 324px;
    min-height: 44px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    padding-left: 19px;
}
.input5::placeholder
{
    color: #BEBEBE;
}
.form-checkbox
{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    margin: 0 62px;
}
.input-checkbox
{
    position: absolute;
    width: 0;
    height: 0;
}
.input-checkbox + span
{
    width: 20px;
    height: 20px;
    border:  1px solid #F2F2F2;
    background-color: rgba(0, 0, 0, 0.00);
    position: absolute;
}
.input-checkbox + span:before
{
    content: "";
    display: block;
    width: 75%;
    height: 75%;
    background-image: url("../images/Vector 1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.input-checkbox:checked + span:before
{
    opacity: 1;
}
.form-checkbox label
{
    display: block;
    color: #434343;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    padding-left: 28px;
}
.form-checkbox a
{
    display: block;
    color: #3CB878;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.form-checkbox a:hover
{
    color: #01813F;
    text-decoration: underline;
    text-decoration-color: #01813F;

}
.create-button
{
    display: block;
    width: 324px;
    height: 46px;
    margin: 20px auto;
    background: rgba(60, 184, 120, 0.80);
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}
.create-button:active
{
    background-color: #01813F;
}

